.matchPoints {
  flex-grow: 2;
}
.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 8px 0 8px 0;
  .teamName {
    align-self: flex-end;
  }
}
.cardMedia {
  max-width: 55px;
  max-height: 55px;
}
.cardItem {
  flex-wrap: nowrap;
  &.itemName {
    flex-grow: 1;
  }
  &.itemStats {
    align-items: baseline;
    margin-right: 8%;
  }
  &.teamStats {
    font-size: 12px !important;
  }
}
.matchStats {
  font-size: 1.2rem;
  margin-right: 8px;
}
.matchResult {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 12px !important;
}
.matchResultBannerWinner {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background-color: green;
  font-size: 6px !important;
}
.matchResultBannerLoser {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background-color: red;
}
.matchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
.teamContainer {
  display: inline-flex;
  align-items: center;
}
.divisionContainer {
  display: flex;
  width: 100%;
}
.scheduleContainer {
  display: flex;
  margin: 0 0 0 0;
}
