.cardRecord__root {
  display: grid;
  grid-template-columns: 55% 5% 40%;
  width: 100%;
  max-width: 500px;
}
.cardRecord__pointsContainer {
  display: flex;
  align-content: center;
}
.cardRecord__points {
  display: flex;
  align-self: center;
  align-items: flex-end;
  margin: 0 auto 0 0;
}
.cardRecord__divider {
  margin-right: 16px;
}
.cardRecord__statistics {
}
.cardRecord__efficiency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 10%;
}
.cardRecord__efficiency_percents{
  display: flex;
  align-items: flex-end;
}