.root {
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}
.fieldText {
  max-width: 300px;
  margin-bottom: 8px !important;
}
.checkBox {
  margin: auto;
  margin-bottom: 8px;
  max-width: 300px;
}
.buttonLogin {
  width: 100%;
  max-width: 300px;
}

.buttonSignUp {
  max-width: 300px;
  background-color: rgba(0, 128, 0, 0.896) !important;
}
