.root {
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}
.fieldText {
  max-width: 300px;
  margin-bottom: 8px !important;
}
.checkBox {
  margin: auto;
  margin-bottom: 8px;
  max-width: 300px;
}
.buttonLogin {
  max-width: 300px;
}
