.notfound {
  overflow: hidden;
  width: 100%;
  opacity: 0.05;
  object-fit: cover;
  margin-top: -64px;
}
.figcaption {
  text-align: center;
  font-size: 2rem;
  opacity: 0.1;
  margin-bottom: 16px;
}
.figure {
  margin: 0;
  margin-top: 16px;
}
