.root {
  position: relative;
  padding: 0 !important;
}
.divisionContainer {
  display: flex;
  width: 100%;
}
.scheduleContainer {
  display: flex;
  margin: 0 0 0 0;
}
.cardContainer {
  margin: 8px 8px 8px 8px;
}
.cardItem {
  margin: 0 8px;
  width: 100%;
}
.scheduleTitle {
  margin: 16px 8px 8px 8px !important;
  border-bottom: 2px solid rgb(165, 163, 163);
  width: 100%;
}
.backButton {
  position: absolute !important;
  background-color: rgba(228, 224, 224, 0.568) !important;
  top: 8px;
  left: 8px;
  z-index: 2;
}
.notfound {
  overflow: hidden;
  width: 100%;
  opacity: 0.05;
  object-fit: cover;
  margin-top: -64px;
}
.figcaption {
  text-align: center;
  font-size: 3rem;
  opacity: 0.1;
}
.figure {
  margin: 0;
  margin-top: 16px;
}
