.root {
  display: grid;
  grid-template-rows: 10% 60% 30%;
  position:relative;
}
.cardMedia {
  max-width: 70px;
  max-height: 70px;
  margin: auto;
}
.cardContent {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  align-items: center;
}
.cardHeader {
  display: flex;
  margin: 0 4px;
}
.date {
  flex-grow: 1;
}
.teams {
  display: grid;
  margin: auto;
  text-align: center;
}
.buttonGroup {
  justify-content: center;
}
.spanSelected{
  position:absolute;
  width: 35%;
  height: 100%;
  top:0;
  bottom:0;
  background-repeat: repeat;
  background-size: cover;
  object-fit: cover;
  opacity: 0.2;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  display:none;
}
.spanLeft{
  left:0;
  margin-left: 4%;
  display:block !important;
}
.spanRight{
  right:0;
  margin-right: 4%;
  display:block !important;
}
.matchResultBannerWinner {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background-color: green;
}
.matchResultBannerLoser {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background-color: red;
}

