.root {
  margin-bottom: 16px;
}
.listTitle {
  width: 50%;
}
.listSubtitle {
  width: 50%;
  text-align: end;
  color: rgba(0, 0, 0, 0.346);
}
.titleContainer {
  margin-top: 16px !important;
  margin-bottom: 8px !important;
  border-bottom: 2px solid rgb(165, 163, 163);
  display: flex;
  justify-content: space-between;
}
