.playerCard_root {
  display: grid;
  padding: 8px 0;
  grid-template-columns: 58% 42%;
  max-width: 500px;
}
.playerCard_currentPlayer {
  background-color: rgba(0, 128, 0, 0.048) !important;
}
.playerCard_playerContainer {
  display: flex;
}
.playerCard_avatar {
  display: inherit;
  margin: 0 8px;
  align-items: center;
}
.playerCard_playerName {
  position: relative;
  display: flex;
  align-items: center;
}
.playerCard_position {
  position: absolute;
  top: 0;
  right: -25px;
}
.playerCard__points {
  display: flex;
  align-items: flex-end;
  margin-right: 8px;
}
.playerCard_rankIcon {
  margin: 0 8px;
}
