.root {
  max-width: 500px;
}
.container {
  padding: 8px 10px 8px 4px;
}
.cardContent {
  display: flex;
  align-items: stretch;
  padding: 0;
}
.cardMedia {
  max-width: 60px;
  max-height: 60px;
  margin-right: 16px;
  margin-left: 8px;
}
.stats {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 3;
  margin-left: 4px;
}
