.filterBar {
  width: 100%;
  margin: 10px auto;
  display: block;
  margin-bottom: 16px;
  border-bottom: solid 1px #f6f6f6;
}
.filterBarTitle {
  padding: 8px 8px;
  padding-bottom: 16px;
  margin: 16px 0;
}
.selectsGroup {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
}
.selectItem {
  min-width: 100px;
}
.firstSelect {
  margin-right: 6px;
  max-width: 20%;
  min-width: 160px;
}
.lastSelect {
  flex-grow: 2;
  max-width: 250px;
}
