$drawer-width: 240px;

.root {
  // backgroundColor:  #f9f9f9  ;
  width: 100%;
  margin: 0 auto;
}
.page {
  display: flex;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
}
.drawer {
  width: $drawer-width;
  display: flex;
  position: relative;
}
.drawerPaper {
  width: $drawer-width;
}
.drawerHeader {
  background-color: #013369;
  padding: 8px 8px;
  height: auto;
  opacity: 0.5;
}
.appBar {
  z-index: 999;
  background: #013369 !important;
  top: 0;
}
.menuItems {
  &:hover {
    background-color: #013369 !important;
    color: #fff;
  }
}
.logoutButton {
  position: absolute !important;
  bottom: 8px;
  left: 8px;
  padding: 8px;
  .ico {
    margin-right: 8px;
  }
}
.actionButtons {
  position: sticky;
  bottom: 0;
  z-index: 999;
  background: #fff !important;
  .actionsGroup {
    display: flex;
    justify-content: space-between;
  }
  .action {
    width: auto;
    margin: 4px 24px 4px 24px;
  }
}
