$drawer-width: 240px;

.root {
  width: 100%;
  margin: 0 auto;
}
.page {
  display: flex;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
}
.drawer {
  width: $drawer-width;
  display: flex;
  position: relative;
}
.drawerPaper {
  width: $drawer-width;
}
.drawerHeader {
  background-color: #013369;
  padding: 8px 8px;
  height: auto;
  opacity: 0.5;
}
.appBar {
  z-index: 999;
  background: #013369 !important;
  top: 0;
}
.menuItems {
  &:hover {
    background-color: #013369 !important;
    color: #fff;
  }
}
.logoutButton {
  position: absolute !important;
  bottom: 8px;
  left: 8px;
  padding: 8px;
  .ico {
    margin-right: 8px;
  }
}
.actionButtons {
  position: sticky;
  padding: 4px 8px 16px 8px;
  bottom: 0;
  z-index: 999;
  background: #fff !important;
  margin-top: 0;
  margin-bottom: 0;
  .actionsGroup {
    display: flex;
    justify-content: space-between;
  }
  .action {
    border-radius: 4% !important;
    width: auto;
    margin: 0 24px 8px 24px;
    color: gray;
    padding-top: 12px;
    border-top: 4px solid transparent !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    &.selected {
      border-top: 4px solid !important;
    }
  }
}
