.root {
  background-color: transparent !important  ;
  position: relative;
  padding: 16px 16px 16px 0;
  background: linear-gradient(
    110deg,
    transparent 61%,
    #181818 62%,
    #00295b 63%
  );
}
.teamInfo {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.logoContainer {
  position: relative;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.teamLogo {
  border-radius: 50%;
  width: fit-content;
  min-width: 100px;
  max-width: 150px;
  max-height: 150px;
}
.editButton {
  position: absolute !important;
  background-color: rgba(228, 224, 224, 0.568) !important;
  top: 73%;
  left: 70%;
}
.backgroundLogo {
  position: absolute;
  background-image: url("../../../public/SVG-rams-logo.svg");
  background-size: cover;
  overflow: hidden;
  width: 300%;
  height: 100%;
  opacity: 0.05;
  top: 0;
  left: -100%;
  object-fit: cover;
  z-index: -1;
}
